body{
    --backgroundColor: #f06865;
    --itemColor: #F08080;
    background-color: var(--backgroundColor);
    color: white;
    font-family: Arial, serif;
    var(-itemColor);
}
.menu{
    text-align: center;
    padding: 25px;
}

.pomodoroContainer{
    text-align: center;

}
.timer{
    margin: 12px auto;
    width: 300px;
    height: 300px;
    line-height: 300px;
    border-radius: 50%;
    font-size: 50px;
    background-color: var(--itemColor);
}
#timerText{
    font-size: 40px;
    background-color: var(--itemColor);

}
#start{

}

button{
    background-color:var(--itemColor); /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover{
    opacity: 0.7;
}



.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    margin: 10px;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 25%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--itemColor); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
}

.music{
    margin: 20px;
    text-align: center;
}


